target/META-INF/mule-src/flowtypes/src/main/mule/flowtypes.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="29f6053d-16fd-428f-82a9-9aceff710bcb" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
		<configuration-properties doc:name="Configuration properties" doc:id="8796308f-43b4-4636-8abc-f64974de1cfb" file="dev.properties" />
	<ee:object-store-caching-strategy name="Caching_Strategy" doc:name="Caching Strategy" doc:id="318664d9-91ce-4853-8db6-b2073ccc5a22" >
		<os:private-object-store entryTtl="5" expirationIntervalUnit="SECONDS" />
	</ee:object-store-caching-strategy>
	<flow name="Main_Flow" doc:id="46ebacf6-17cc-47cb-bca4-9fbd463809d7" >
		<http:listener doc:name="Listener" doc:id="a4291ac6-1231-4641-a3c0-f215ae13490e" config-ref="HTTP_Listener_config" path="/Main"/>
		<!-- <!&#45;&#45; <set-variable value='Vamsi studied Mtech' doc:name="Set Variable" doc:id="a9de92e3-b7a1-4f1d-9de4-d5645cf216be" variableName="Main"/> -->
		<!-- <set-variable value="#[attributes.requestUri]" doc:name="Set Variable" doc:id="c5c5ff63-a038-4917-a807-a60d02971138" variableName="method"/> -->
		<logger level="INFO" doc:name="Logger" doc:id="a8bdeb8f-38f3-4658-963a-a8040c1a87c5" message='#["Entering Flow Reference"]' />
		<flow-ref doc:name="Flow Reference" doc:id="dfde7203-e537-49ec-b592-4718bb6bb776" name="Sub_Flow" />
		<logger level="INFO" doc:name="Logger" doc:id="aab75b4d-7160-4cb8-a9ce-8b1c62544277" message="#['Flow Completed Succesfully']"/>
		<!-- <ee:transform doc:name="Transform Message" doc:id="b2f647e9-7d77-4422-b10c-9a79cebb2189">
			<ee:message>
				<ee:set-payload><![CDATA[payload]]></ee:set-payload>
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform> -->
	</flow>
	<flow name="Private_Flow" doc:id="f610900a-98f6-4cb8-a3d4-aa6b18bbc584" >
		<set-payload value='#["Hi this is private flow"]' doc:name="Set Payload" doc:id="5f2e2842-cad1-4cfd-a4d4-d8e57bc5b56b" />
	</flow>
	<sub-flow name="Sub_Flow" doc:id="bf51dceb-a7a8-4b54-b5c9-7c0573f04bb9" >
		<ee:cache doc:name="Cache" doc:id="56d21834-5e6f-494a-81fc-b827bba877b9" cachingStrategy-ref="Caching_Strategy">
			<logger level="INFO" doc:name="Logger" doc:id="304fd01c-ceb2-48e6-a257-ac074325cc1d" message="Entered Cache Scope"/>
			<set-payload value='#["This is subflow"]' doc:name="Set Payload" doc:id="8421334c-f0f0-425e-8d60-43fd4df8cc7b" />
		</ee:cache>
	</sub-flow>
</mule>
